@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --azul: #003049ff;
    --vermelho: #d62828ff;
    --laranja: #f77f00ff;
    --amarelo: #fcbf49ff;
    --amarelo-claro: #eae2b7ff;
    --fonte-primaria:"Handjet", sans-serif;
    --fonte-secundaria:"Poppins", sans-serif;
}

body{
    background-color: var(--azul);
    font-family: var(--fonte-secundaria);
    color: var(--amarelo-claro);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
}

h1{
    font-family: var(--fonte-primaria);
    color: var(--laranja);
    font-size: 4em;
}

h3{
    color: var(--amarelo);
    font-size: 2em;
}
.mensagem{
    font-size: 1.5em;
    color: var(--amarelo-claro);
    background-color: var(--vermelho);
    border-radius: 15px;
    margin-top: 20px;
    padding: 20px;
}

.box{
    border: 4px dashed var(--laranja);
    border-radius: 15px;
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 10px;
}

h2{
    text-shadow: 3px 3px 3px var(--vermelho);
    font-family: var(--fonte-primaria);
    font-size: 4em;
    color: var(--laranja);
    
}